<div class="inner cover">
    <h1>URL Shortener</h1>

    <div class="row">

        <div class="col-lg-12">
            <div class="input-group input-group-lg">
                <input id="url-field" type="text" class="form-control" placeholder="Your original URL here">
                <span class="input-group-btn">
                  <button class="btn btn-shorten" type="button">SHORTEN URL</button>
                </span>
            </div>
        </div>

        <div class="col-lg-12">
            <div id="link"></div>
        </div>

    </div>
</div>