<div class="inner cover">
    <h1>URL Shortener</h1>

    <div class="row">

        <div class="col-lg-12">
            <div class="input-group input-group-lg">
                <input
                        ng-model="url.long_url"
                        ng-change="rootCtrl.statusError = false"
                        id="url-field"
                        type="text"
                        class="form-control"
                        placeholder="Your original URL here">
                <span class="input-group-btn">
                  <button ng-click="rootCtrl.saveUrl(url)" class="btn btn-shorten" type="button">SHORTEN URL</button>
                </span>
            </div>
        </div>

        <div class="col-md-offset-2 col-md-8" ng-if="rootCtrl.statusError">
            <div class="alert alert-danger">
                <strong>{{rootCtrl.statusError}}</strong>
            </div>
        </div>

        <div class="col-md-offset-2 col-md-8" ng-if="rootCtrl.validUrl">
            <div class="alert alert-success">
                <a href="{{rootCtrl.validUrl.long}}" class="alert-link">{{rootCtrl.validUrl.short}}</a>
            </div>
        </div>

    </div>
</div>