var config = {};
config.db = {};

// Production

if(process.env.NODE_ENV === 'production'){

    config.webhost = 'https://url-shortene.herokuapp.com/';

//------ db config ----------//

    config.db.url = process.env.MONGODB_URI;

    return;
}

// Development

config.webhost = 'http://localhost:3000/';
config.devPort = 3000;

//------ db config ----------//

config.db.host = 'localhost';
config.db.name = 'url_shortener';

config.db.url = 'mongodb://' + config.db.host + '/' + config.db.name;



module.exports = config;