doctype html
html
    head
        meta(charset='utf-8')
        title 404 - This is awkward...
        link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
        link(rel='stylesheet', href='assets/stylesheets/404.css')
    body
        .overlay
        .on-top
            h1 That shortened URL doesn't exist...

            a.back(href='/') Back