doctype html
html(lang='en' ng-app='ngUrlShort')
    head
        base(href='/')
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        script(src=buildType)
        script window.defaultHost = "#{nodeEnv}"
        title URL Shortener
    body
        .site-wrapper
            .site-wrapper-inner
                .main-container
                    ui-view