doctype html
html(lang='en' ng-app='ngUrlShort')
    head
        base(href='/')
        meta(charset='UTF-8')
        script(src='/build.js')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        title URL Shortener
    body
        h1 qwerty
        toolbar
        .container
            ui-view
